div{
    background-color: black;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div p{
    color: darkcyan;
    font-size: 23px;
}
/*direct son*/
div >p {
    background: #ab6464;
}
/*adiacent element direct sibiling*/
div + em {
    background-color:greenyellow;
    color: black;
    padding: 10px;
}
/*subsequent sibling */
div~p{
    font-size: 2em;
    background-color: dimgray;
    color: red;
}