*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: monospace;
    font-size:10px;

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1{
    background-color: antiquewhite;
}
header{
    position: fixed;
    width: 100%;
    background-color: chartreuse;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 100;
}
header h1::before{
    content:'.';
}
main{
    position: relative;
    top: 140px;
}
main .hero{
    background-color: black;
    width: 100%;
}
.hero{
    position: relative;
}
.hero figure img{
    width: 100%;
}
.hero .text-hero{
    position: absolute;
    bottom: 150px;
    text-align: center;
    color: aqua;
    background-color: rgba(148, 112, 112, 0.63);
    padding: 1rem;  
    
}
.blog{
    width: 100%;
    background-color:wheat;
    padding:1rem;
}
.blog article{
    width: 80%;
    margin:10px auto;
    padding:10px;
    border: 1px solid ;
    border-radius: 10px;;
}
.list-coding-languages{
    width: 100%;
    border:2px solid red;
    margin-bottom: 5px;
    padding:1em;
    border-radius: 5px;
}

.list-coding-languages h3{
    position: sticky;
    top: 160px;
    background-color: orange;
    color: aqua;
    padding: 5px;
    margin-bottom: 1em;
}
.coding-languages{
    background-color: black;
    color: orange;

}
footer{
    width: 100%;
    padding: 2rem;
    background-color: black;
    color: antiquewhite;
    text-align: center;
}