*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: monospace;
    font-size: 1em;
}
h1{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    flex-wrap: wrap;
   
}
.item{
    width: 200px;
    height: 240px;
    background-color: black;
    color: chartreuse;
    padding: 5px;
    border-radius: 8px;
    margin: 5pxs;
}