*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: monospace;
    font-size: 1em;
}
h1{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(26, 89, 144);
    column-gap: 5px;
    row-gap: 5px;
    width: 1000px;
    height: 1000px;
}
.item{
    width: 200px;
    height: 200px;
    background-color: black;
    color: azure;
    padding: 8px;
    border-radius: 9px;
    margin: 8px;
    overflow: hidden;
}
.container .item:nth-child(2){
    grid-column: 2/3;
    grid-row: 2/3;
}
.container .item:nth-child(3){
    grid-column: 3/4;
    grid-row: 3/4;
}
.container .item:nth-child(4){
    grid-column: 4/5;
    grid-row: 4/5;
}