html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.125em;
}
div{
    width: 100%;
    background: rgb(13, 15, 20);
    padding: 0,5rem;
    color: aliceblue;
}
input{
    margin-top: 30px;
    padding: 1,25em;
    border: 2px solid lightgray;
    border-radius: 0,25rem;
}
p:hover{
    font-size: 1,5em;
    color: brown;
}
input:focus{
    background: #662f2f;
    color: blanchedalmond;
}
div p:nth-child(2){
    font-size: 1,5em;
    color:lightsalmon
}
/*Pseudo-Elements*/